{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
<div class="row justify-content-center">
<h2 class="mb-4">Login</h2>
<form method="POST" class="row g-3">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
    <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</div>
</form>
</div>
</div>
<div >
<!-- Footer Section -->
<footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; 2024 padhaiwithAI. All rights reserved.</p>
    <p><a href="#" class="text-white">Privacy Policy</a> | <a href="#" class="text-white">Terms of Service</a></p>
  </footer>
</div


{% endblock %}

